# === General ===
.DS_Store
Thumbs.db
*.log
*.tmp
*.bak
*.swp
*.swo
*.orig
*.pid
*.seed
*.out

# === Python (pass-gen) ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.py.class
.venv/
venv/
env/
ENV/
*.egg-info/
.eggs/
.mypy_cache/
.pytest_cache/
.cache/
coverage.xml
htmlcov/
dist/
build/
pip-wheel-metadata/
*.sqlite3
instance/
# local DBs
*.db

# === Node / Frontend ===
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.env.local
.env.development.local
.env.test.local
.env.production.local
/.parcel-cache
/.next
/.nuxt
/build
/.turbo
/.vercel
/.vscode/

# === Docker ===
*.env
.envrc
docker-compose.override.yml
docker-compose.local.yml
docker-compose.prod.yml
**/tmp/
**/.dockerignore

# === Terraform ===
**/.terraform/
**/.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfvars
*.tfvars.json
*.plan
*.backup
*.tfstate.backup
*.tfstate.lock.info

# === AWS / Credentials ===
.aws/
*.pem
*.key
*.crt

# === Tests & Reports ===
reports/
coverage/
test-results/
*.tap
*.junit.xml
*.xml
*.json

# === IDEs ===
.idea/
.vscode/
*.code-workspace
*.iml
.project
.settings/
.pydevproject
*.sublime-workspace
*.sublime-project

# === CI/CD ===
*.tfplan
*.zip
*.tar.gz
*.tgz
*.bak

misc/
Plan.txt

# Terraform image tag file (allow CI to commit)
!terraform/ecs/image.auto.tfvars
